@{
    ViewData["Title"] = "Not Logged";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You must be logged in to use this feature!</h1>
<a href="http://localhost:61759/dms/LoginPage">Log in here !</a>