@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Message"]</h3>

<br />
<p>This is a simple project to illustrate a management system for all the mobile devices in the company. <br />The functionalities are based on the
    received requirements.
</p>
