@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>
<br />
<address>
    This project was made by Florin Andrei Muntean<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:florin_sb1994@yahoo.com">Send e-mail</a><br />
</address>
